.footer {
  background-color: var(--footer-back);

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    align-items: baseline;
  }
}

.page-nav__logo--end {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--white-text);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.192;
  }
}

@media screen and (max-width: 1199px) {
  .address__item + .address__item {
    margin-top: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .address__item + .address__item {
    margin-top: 9px;
  }
}

.address-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;

  color: var(--white-text);
}

.address-contacts {
  display: inline-block;

  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-address {
  margin-bottom: 60px;
}

.join {
  margin-bottom: 60px;
}

.join__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;

  color: var(--white-text);
}

.join-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-social__item + .join-social__item {
  margin-left: 10px;
}

.join-social__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 12px;

  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent);
  }
}

.join-social__icon {
  fill: currentColor;
}

.sub {
  //   display: flex;
  //   //   flex-direction: column;
  //   //   align-items: flex-start;

  //   margin-left: 93px;
}

.sub__group {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.sub__label {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;

  text-transform: uppercase;

  color: var(--white-text);
}

.sub__input {
  padding: 15px 16px;

  width: 100%;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  background-color: transparent;

  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  &::placeholder {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;

    letter-spacing: inherit;

    color: inherit;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    width: 358px;
  }
}

.sub__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 10px 28px 10px 29px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--white-text);
  background-color: var(--accent);

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.sub__icon {
  fill: currentColor;
  margin-left: 10px;
}
