
.advantages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages__thumb {
  padding: 25px 100px;
  margin-bottom: 30px;

  background-color: var(--secondary-back);
}

.advantages__item + .advantages__item {
  margin-left: 30px;
}

.advantages__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
}

.advantages__text {
  font-size: 14px;
  line-height: 1.714;
  color: var(--grey-text);
}
