.team {
  text-align: center;

  background-color: var(--secondary-back);

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.team__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;

  color: var(--title-text);

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.167;
  }
}

.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.team__item {
  text-align: center;
  max-width: 450px;

  background-color: var(--primary-back);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 60px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 480px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__description {
  padding: 30px 32px;
}

.team__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  color: var(--title-text);
}

.team__text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.188;
  color: var(--grey-text);
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  display: flex;
  justify-content: center;

  padding: 12px;

  border-radius: 50%;
  color: rgba(175, 177, 184, 1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent);
    color: rgba(255, 255, 255, 1);
  }
}

.social__icon {
  fill: currentColor;
}
